*{
    margin: 0;
    padding: 0;
}
.Container{
    width: auto;
    border: 4px solid black;
    height: 45px;
    background-color:black;
}
.SubContainer{
    width: 520px;
    margin-top: 6px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 5px;
    height: 23px;
    border: 1px solid black;
    background-color: black;
    display: flex;
}
.SubContainertwo {
    width: 280px;
    margin-top: -32px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 120px;
    height: 23px;
    border: 1px solid black;
    background-color:  black;
    float: right;
    display: flex;
}

.SubContainer p{
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-right: 100px;
    padding-bottom: 3px;
    padding-left: 8px;
}
.nav-bar{
    background-color:lightblue;
    width: auto;
    border:1px solid yellowgreen;
    height: 120px;
    overflow: hidden;
    opacity: 0.7;
    
}
.nav-bar p{
    font-weight: bold;
    font-size: 28px;
    margin-top: 37px;
    margin-left: 130px;
    font-family: sans-serif;
    color: black;
    
}
.nav-bar .items ul{
    list-style-type: none;
    float: right;
    margin-right: 100px;
    margin-top: -48px;
    
    
}
.nav-bar .items li{
    display:contents;
}
.nav-bar .items li a{
    padding: 6px 14px;
    margin:4px 6px;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    
}
.nav-bar .items li a:hover{
    color: yellow;
    
}
.nav-bar .items ul ul{
    display: none;
}

.fas{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 0.1em solid black;
    border-top: 0.1em solid black;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 0.2em;
    
}


.text2{
    
    margin-left: 5px;
    font-weight: bold;
    position: absolute;
    margin-top: 140px;
    margin-left: 100px;
}
.textt3 h2{
    font-weight: 800;
    position: absolute;
    margin-top: 190px;
    margin-left: 100px;
}
.text2 h6{
    font-weight: 800;
}

.texttt4{
    
    position: absolute;
    margin-top: 260px;
    margin-left: 100px;
}
.BTN1{
    border: none;
    border-radius: 18px;
    background-color: darkred;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 16px 1px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    margin-top: 370px;
    position: absolute;
    margin-left: 100px;
}
.t1 em:hover{
    color: yellow;
}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    
}
.nav2{
    margin-top: 594.4px;
    position: absolute;
    margin-right: auto;
    
}
hr.new1{
    position: relative;
    border: 3px solid rgb(250, 7, 7);
    border-radius: 5px;
    margin-top: -640px;
    width: 86%;
    margin-left: 95px;
}
.topic {
    margin-top: -700px;
    margin-left: 540px;
    position: absolute;
    color: rgb(255, 255, 255);
}

.card1{
    background-color: white;
    height: 460px;
    margin-left: 97px;
    margin-top: 40px;
    width: 320px;
    position: absolute;
    border-radius: 25px;
}

.button2{
    border-radius: 25px;
    background-color: rgb(145, 12, 12);
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 40px 50px;
    cursor: pointer;
    color: white;
}

.card1 h6{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.card1 p{
    margin-left: 50px;
    color: black;
}

.card2{
    background-color: white;
    height: 360px;
    margin-left: 490px;
    margin-top: 40px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card2 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card2 h5{
    text-align: center;
    margin-top: -52px;
}

.card2 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.card2 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card2 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price1{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p1{
    color: black;
    padding-top: 58px;
}



.card3{
    background-color: white;
    height: 410px;
    margin-left: 870px;
    margin-top: 40px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card3 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card3 h5{
    margin-top: -10px;
    margin-left: 10px;
}

.card3 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.titl3{
    padding-left: 20px;
    
}
.card3 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card3 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price2{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p2{
    color: rgb(0, 0, 0);
    margin-left: -50px;
    padding-top: 17px;
}








.card4{
    background-color: white;
    height: 410px;
    margin-left: 490px;
    margin-top: 500px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card4 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card4 h5{
    margin-top: -10px;
    margin-left: 10px;
}

.card4 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.titl4{
    padding-left: 20px;
    
}
.card4 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card4 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price3{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p3{
    color: rgb(0, 0, 0);
    margin-left: -50px;
    padding-top: 17px;
}





.card5{
    background-color: white;
    height: 360px;
    margin-left: 870px;
    margin-top: 500px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card5 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card5 h5{
    text-align: center;
    margin-top: -52px;
}

.card5 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.card5 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card5 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price4{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p4{
    color: black;
    padding-top: 58px;
}




.again1{
    margin-top: 1960px;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading1{
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .1;
    height: 270px;
    margin-left: 120px;
    margin-top: -640px;
    width: 550px;
    
}

.headz{
    font-size: 26px;
    color:white;
    opacity: 1.0;
    font-weight: 900;
    margin-top: -230px;
    margin-left: 160px;
    position: absolute;
}

.headp{
    color: white;
    margin-top: -180px;
    margin-left: 160px;
    position: absolute;
}

.btn3{
    border: none;
    border-radius: 18px;
    background-color: darkred;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: -90px 160px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    position: absolute;
}



.heading2{
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .1;
    height: 270px;
    margin-left: 120px;
    margin-top: 30px;
    width: 550px;
    
}

.btn4{
    border: none;
    border-radius: 18px;
    background-color: rgb(196, 160, 0);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: -90px 160px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    position: absolute;
}




.heading3{
    background-color:white;
    color: #fff;
    opacity: 0.9;
    height: 565px;
    margin-left: 730px;
    margin-top: -568px;
    width: 500px;
    border-radius: 25px;
}


.headz3{
    font-size: 19px;
    color:rgb(211, 171, 38);
    opacity: 1.0;
    font-weight: 700;
    margin-top: -500px;
    margin-left: 780px;
    position: absolute;
}

.fas2{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -10px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(209, 171, 46);
    border-top: 0.2em solid rgb(190, 175, 31);
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.7em;
    
}

.headp3{
    color: rgb(0, 0, 0);
    margin-top: -440px;
    margin-left: 790px;
    position: absolute;
}

.e2{
    color: yellow;
    margin-top: -340px;
    margin-left: 790px;

}

.line{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: -330px;
}

.headz4{
    font-size: 19px;
    color:rgb(0, 0, 0);
    opacity: 1.0;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 780px;
    position: absolute;
}

.fas3{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(0, 0, 0);
    border-top: 0.2em solid rgb(0, 0, 0);
    transform: rotate(400deg);
    margin-right: 0.1em;
    margin-left: 4.8em;
    
}


.line2{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: 130px;
}

.headz5{
    font-size: 19px;
    color:rgb(0, 0, 0);
    opacity: 1.0;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 780px;
    position: absolute;
}


.fas4{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(0, 0, 0);
    border-top: 0.2em solid rgb(0, 0, 0);
    transform: rotate(400deg);
    margin-right: 0.1em;
    margin-left: 6.9em;
    
}

.line3{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: 120px;
}




.nav3{
    position: relative;
    margin-right: auto;
    margin-top: 150px;
}

.a1{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 130px;
    margin-top: 50px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.title7{
    color: rgb(0, 0, 0);
    margin-top: -550px;
    margin-left: 130px;
}

.a2{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 130px;
    margin-top: 40px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a3{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 415px;
    margin-top: -250px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a4{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 415px;
    margin-top: -120px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a5{
    background-color: white;
    color: white;
    opacity: .2;
    height: 400px;
    margin-left: 775px;
    margin-top: -230px;
    width: 460px;
    position: absolute;
    border-radius: 25px;
}

.suba5{
    color: rgb(255, 187, 0);
    margin-left: 775px;
    margin-top: -230px;
    position: absolute;
}

.suba1{
    margin-left: 220px;
    margin-top: 100px;
}
.suba2{
    margin-left: 180px;
    margin-top: 5px;
}


.subaa1{
    margin-left: 220px;
    margin-top: 80px;
}
.subaa2{
    margin-left: 180px;
    margin-top: 10px;
}


.subaba1{
    margin-left: 520px;
    margin-top: -40px;
}
.subaba2{
    margin-left: 510px;
    margin-top: -10px;
}


.subaca1{
    margin-left: 500px;
    margin-top: -250px;
}
.subaca2{
    margin-left: 485px;
    margin-top: -10px;
}





.nav4{
    position: relative;
    margin-right: auto;
    margin-top: 245px;
}


<<<<<<< Updated upstream
=======
.f1{
    background-color:maroon;
    height: 560px;
    margin-left: 950px;
    margin-top: -840px;
    width: 280px;
    position: absolute;
    border-radius: 25px;
}

.f2{
    background-color:rgb(255, 255, 255);
    height: 500px;
    margin-left: 140px;
    margin-top: -810px;
    width: 780px;
    position: absolute;
    border-radius: 25px;
}

.f3{
    margin-top: 50px;
    margin-left: 50px;
}

.subf2{
    width: 88%;
    margin-left: 50px;
}


input[type=text], select {
    width: 28%;
    padding: 8px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
}


input[type=text1], select {
    width: 28%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 310px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
    margin-top: -70px;
    float: right;
    margin-right: 280px;
}

input[type=text2], select {
    width: 28%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 310px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
    margin-top: -70px;
    float: right;
    margin-right: 45px
    
}

input[type=text3], select {
    width: 88%;
    padding: 8px 20px;
    margin: 14px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 50px;
    height: 140px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    
    
}

.btn7{
    border: none;
    border-radius: 25px;
    background-color: darkred;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    margin-left: 50px;
}
  

.f1 h6{
    margin-top: 40px;
    margin-left: 40px;
}

.subf1 h6{
    margin-top: 10px;
    margin-left: 40px;
}

.subff2{
    width: 70%;
    margin-left: -10px;
    margin-top: 40px;
    color: white;
}

.subf3 h6{
    margin-top: 30px;
    margin-left: 40px;
}

.subf4 h6{
    margin-top: 10px;
    margin-left: 40px;
}

.subff4{
    width: 70%;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
}

.subf5 h6{
    margin-top: 30px;
    margin-left: 40px;
}

.subf6 h6{
    margin-top: 5px;
    margin-left: 40px;
}

.subff6{
    width: 70%;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
}

.subf7 h6{
    margin-top: 30px;
    margin-left: 40px;
}

.navsub4{
    color: rgb(255, 255, 255);
    margin-top: -150px;
}

.xc1 h6{
    margin-top: 30px;
    
    position: absolute;
    margin-left: 410px;
}
.xc2 h6{
    margin-top: 50px;
    
    position: absolute;
    margin-left: 570px;
}

.cell{
    width: 33%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
    
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
>>>>>>> Stashed changes
