*{
<<<<<<< Updated upstream
    margin: 0;
    padding: 0;
}
.Container{
    width: auto;
    border: 4px solid black;
    height: 45px;
    background-color:black;
}
.SubContainer{
    width: 520px;
    margin-top: 6px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 5px;
    height: 23px;
    border: 1px solid black;
    background-color: black;
    display: flex;
}
.SubContainertwo {
    width: 280px;
    margin-top: -32px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 120px;
    height: 23px;
    border: 1px solid black;
    background-color:  black;
    float: right;
    display: flex;
}

.SubContainer p{
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-right: 100px;
    padding-bottom: 3px;
    padding-left: 8px;
}
.nav-bar{
    background-color:lightblue;
    width: auto;
    border:1px solid yellowgreen;
    height: 120px;
    overflow: hidden;
    opacity: 0.7;
    
}
.nav-bar p{
    font-weight: bold;
    font-size: 28px;
    margin-top: 37px;
    margin-left: 130px;
    font-family: sans-serif;
    color: black;
    
}
.nav-bar .items ul{
    list-style-type: none;
    float: right;
    margin-right: 100px;
    margin-top: -48px;
    
    
}
.nav-bar .items li{
    display:contents;
}
.nav-bar .items li a{
    padding: 6px 14px;
    margin:4px 6px;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    
}
.nav-bar .items li a:hover{
    color: yellow;
    
}
.nav-bar .items ul ul{
    display: none;
}

.fas{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 0.1em solid black;
    border-top: 0.1em solid black;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 0.2em;
    
}
.text {
    position:absolute;
    margin-top: 240px;
    margin-left: 60px;
    height: 221px;
    width: 618px;
    background-color: lightblue;
    transform: translateY(-50%);
    opacity: 0.7;
}

.text2{
    opacity: 6.0;
    margin-left: 5px;
    font-weight: bold;
}
.text2 h2{
    font-weight: 800;
}
.text2 h6{
    font-weight: 800;
}


.BTN1{
    border: none;
    border-radius: 18px;
    background-color: darkred;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 16px 1px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
}
.t1 em:hover{
    color: yellow;
}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    
}
.nav2{
    margin-top: 594.4px;
    position: absolute;
    margin-right: auto;
    
}
hr.new1{
    position: relative;
    border: 3px solid rgb(250, 7, 7);
    border-radius: 5px;
    margin-top: -640px;
    width: 86%;
    margin-left: 95px;
}
.topic {
    margin-top: -700px;
    margin-left: 540px;
    position: absolute;
    color: rgb(255, 255, 255);
}

.card1{
    background-color: white;
    height: 460px;
    margin-left: 97px;
    margin-top: 40px;
    width: 320px;
    position: absolute;
    border-radius: 25px;
}

.button2{
    border-radius: 25px;
    background-color: rgb(145, 12, 12);
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 40px 50px;
    cursor: pointer;
    color: white;
}

.card1 h6{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.card1 p{
    margin-left: 50px;
    color: black;
}

.card2{
    background-color: white;
    height: 360px;
    margin-left: 490px;
    margin-top: 40px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card2 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card2 h5{
    text-align: center;
    margin-top: -52px;
}

.card2 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.card2 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card2 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price1{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p1{
    color: black;
    padding-top: 58px;
}



.card3{
    background-color: white;
    height: 410px;
    margin-left: 870px;
    margin-top: 40px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card3 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card3 h5{
    margin-top: -10px;
    margin-left: 10px;
}

.card3 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.titl3{
    padding-left: 20px;
    
}
.card3 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card3 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price2{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p2{
    color: rgb(0, 0, 0);
    margin-left: -50px;
    padding-top: 17px;
}








.card4{
    background-color: white;
    height: 410px;
    margin-left: 490px;
    margin-top: 500px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card4 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card4 h5{
    margin-top: -10px;
    margin-left: 10px;
}

.card4 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.titl4{
    padding-left: 20px;
    
}
.card4 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card4 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price3{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p3{
    color: rgb(0, 0, 0);
    margin-left: -50px;
    padding-top: 17px;
}





.card5{
    background-color: white;
    height: 360px;
    margin-left: 870px;
    margin-top: 500px;
    width: 360px;
    position: absolute;
    border-radius: 25px;
}

.card5 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card5 h5{
    text-align: center;
    margin-top: -52px;
}

.card5 h6{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

.card5 h4{
    margin-left: 30px;
    margin-top: -7px;
    font-size: 22px;
}

.card5 p{
    margin-left: 75px;
    font-size: 16px;
    margin-top: 20px;
}

.price4{
    background-color: white;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    position: absolute;
    border-radius: 10px;
}

.p4{
    color: black;
    padding-top: 58px;
}




.again1{
    margin-top: 1960px;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading1{
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .1;
    height: 270px;
    margin-left: 120px;
    margin-top: -640px;
    width: 550px;
    
}

.headz{
    font-size: 26px;
    color:white;
    opacity: 1.0;
    font-weight: 900;
    margin-top: -230px;
    margin-left: 160px;
    position: absolute;
}

.headp{
    color: white;
    margin-top: -180px;
    margin-left: 160px;
    position: absolute;
}

.btn3{
    border: none;
    border-radius: 18px;
    background-color: darkred;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: -90px 160px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    position: absolute;
}



.heading2{
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .1;
    height: 270px;
    margin-left: 120px;
    margin-top: 30px;
    width: 550px;
    
}

.btn4{
    border: none;
    border-radius: 18px;
    background-color: rgb(196, 160, 0);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: -90px 160px;
    cursor: pointer;
    color: white;
    opacity: 12.0;
    position: absolute;
}




.heading3{
    background-color:white;
    color: #fff;
    opacity: 0.9;
    height: 565px;
    margin-left: 730px;
    margin-top: -568px;
    width: 500px;
    border-radius: 25px;
}


.headz3{
    font-size: 19px;
    color:rgb(211, 171, 38);
    opacity: 1.0;
    font-weight: 700;
    margin-top: -500px;
    margin-left: 780px;
    position: absolute;
}

.fas2{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -10px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(209, 171, 46);
    border-top: 0.2em solid rgb(190, 175, 31);
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.7em;
    
}

.headp3{
    color: rgb(0, 0, 0);
    margin-top: -440px;
    margin-left: 790px;
    position: absolute;
}

.e2{
    color: yellow;
    margin-top: -340px;
    margin-left: 790px;

}

.line{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: -330px;
}

.headz4{
    font-size: 19px;
    color:rgb(0, 0, 0);
    opacity: 1.0;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 780px;
    position: absolute;
}

.fas3{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(0, 0, 0);
    border-top: 0.2em solid rgb(0, 0, 0);
    transform: rotate(400deg);
    margin-right: 0.1em;
    margin-left: 4.8em;
    
}


.line2{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: 130px;
}

.headz5{
    font-size: 19px;
    color:rgb(0, 0, 0);
    opacity: 1.0;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 780px;
    position: absolute;
}


.fas4{
    font-size: 22px;
    content: '&#xf107';
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.2em solid rgb(0, 0, 0);
    border-top: 0.2em solid rgb(0, 0, 0);
    transform: rotate(400deg);
    margin-right: 0.1em;
    margin-left: 6.9em;
    
}

.line3{
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 780px;
    margin-top: 120px;
}




.nav3{
    position: relative;
    margin-right: auto;
    margin-top: 150px;
}

.a1{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 130px;
    margin-top: 50px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.title7{
    color: rgb(0, 0, 0);
    margin-top: -550px;
    margin-left: 130px;
}

.a2{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 130px;
    margin-top: 40px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a3{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 415px;
    margin-top: -250px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a4{
    background-color: white;
    color: white;
    opacity: .2;
    height: 160px;
    margin-left: 415px;
    margin-top: -120px;
    width: 260px;
    position: absolute;
    border-radius: 25px;
}

.a5{
    background-color: white;
    color: white;
    opacity: .2;
    height: 400px;
    margin-left: 775px;
    margin-top: -230px;
    width: 460px;
    position: absolute;
    border-radius: 25px;
}

.suba5{
    color: rgb(255, 187, 0);
    margin-left: 775px;
    margin-top: -230px;
    position: absolute;
}

.suba1{
    margin-left: 220px;
    margin-top: 100px;
}
.suba2{
    margin-left: 180px;
    margin-top: 5px;
}


.subaa1{
    margin-left: 220px;
    margin-top: 80px;
}
.subaa2{
    margin-left: 180px;
    margin-top: 10px;
}


.subaba1{
    margin-left: 520px;
    margin-top: -40px;
}
.subaba2{
    margin-left: 510px;
    margin-top: -10px;
}


.subaca1{
    margin-left: 500px;
    margin-top: -250px;
}
.subaca2{
    margin-left: 485px;
    margin-top: -10px;
}





.nav4{
    position: relative;
    margin-right: auto;
    margin-top: 245px;
}


=======
    box-sizing: border-box;
}
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6F6F6F;
    text-align: left;
    background-color: #fff;
}

div {
    display: block;
}


.Main-Container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.Sub-Container{
    background-color: #EDF1FF !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-leg{
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
}
.col-leg{
    position: relative;
    width: 100%;
    padding-right: 65px;
    padding-left: 65px;
}

.block{
    display: block !important;
}

.inline-flex{
    display: inline-flex !important;
}

.align-items-center{
    align-items: center !important;
}
a{
    color: #D19C97;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
    cursor: pointer;
}

.text-muted{
    color: #6c757d;
}

.text-dark{
    color: black;
}

.px-2{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.text-right{
    text-align: right !important;
}

.fab{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.py-3{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.col-leg-3{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
}



.text-decoration-none {
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-thickness: initial !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
}

.m-0 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 50px !important;
}

.font-weight-semi-bold {
    font-weight: 600;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}
h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1C1C1C;
}

.text-primary {
    color: #D19C97 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}
.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.border {
    border: 1px solid #EDF1FF !important;
    border: 1px solid #EDF1FF !important;
    border-top-color: rgb(237, 241, 255) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(237, 241, 255) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(237, 241, 255) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(237, 241, 255) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
    
}

.text-left{
    align-items: left !important;
}
.col-6 {
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
}

.col-lg-6 {
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


form {
    display: block;
    margin-top: 0em;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group > .form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #EDF1FF;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;

    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.input-group-append {
    margin-left: -1px;
    display: flex;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #EDF1FF;
}

.bg-transparent {
    background-color: transparent !important;
}

.fa{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-search:before {
    content: "\f002";
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #6F6F6F;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.col-lg-3 {
    flex: 0 0 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;


    position: relative;
    width: 100%;
    padding-right: 72px;
    padding-left: 15px;
    
}

.col-leg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.mb-5{
    margin-bottom: 3rem !important;
}

.border-top {
    border-top: 1px solid #EDF1FF !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: rgb(237, 241, 255) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.d-flex {
    display: flex !important;
}

.btn {
    display: inline-block;
    
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.justify-content-between {
    justify-content: space-between !important;
}

.bg-primary {
    background-color: #D19C97 !important;
}

.text-white {
    color: #fff !important;
}

.w-100 {
    width: 100% !important;
}

h6{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1C1C1C;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.p-0 {
    padding: 0 !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.align-items-start {
    align-items: flex-start !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
    border-bottom-width: 0px !important;
    border-bottom-style: initial !important;
    border-bottom-color: initial !important;
}

.border-top-0 {
    border-top: 0 !important;
    border-top-width: 0px !important;
    border-top-style: initial !important;
    border-top-color: initial !important;
}

.border {
    border: 1px solid #EDF1FF !important;
    border-top-color: rgb(237, 241, 255) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(237, 241, 255) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(237, 241, 255) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(237, 241, 255) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
}

nav{
    display: block;
}

.w-100 {
    width: 100% !important;
}

.overflow-hidden {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.dropdown{
    position: relative;
}

.navbar-vertical.navbar-light .navbar-nav .nav-link {
    padding: 8px 30px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
    border-bottom: 1px solid #EDF1FF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(237, 241, 255);
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #1C1C1C;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;

    
}

.nav-link{
    display: block;
}

.mt-1{
    margin-top: 0.25rem !important;
}

.float-right {
    float: right !important;
}

.fa{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-rendering: auto;
    line-height: 1;
}


.fa-angle-down:before {
    content: "\f107";
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.position-absolute {
    position: absolute !important;
}

.rounded-0 {
    border-radius: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.border-0 {
    border: 0 !important;
    border-top-color: initial !important;
    border-top-style: initial !important;
    border-top-width: 0px !important;
    border-right-color: initial !important;
    border-right-style: initial !important;
    border-right-width: 0px !important;
    border-bottom-color: initial !important;
    border-bottom-style: initial !important;
    border-bottom-width: 0px !important;
    border-left-color: initial !important;
    border-left-style: initial !important;
    border-left-width: 0px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
}

.bg-secondary {
    background-color: #EDF1FF !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #6F6F6F;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-vertical.navbar-light .navbar-nav .nav-link {
    padding: 8px 30px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
    border-bottom: 1px solid #EDF1FF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(237, 241, 255);
}


.col-lg-9 {
    flex: 0 0 75%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
}

.py-lg-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-light {
    background-color: #FFFFFF !important;
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.d-lg-none {
    display: none !important;
}

h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1C1C1C;
    font-size: 2.5rem;
    font-size: calc(1.375rem + 1.5vw);
    
}
.font-weight-semi-bold {
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-expand-lg .navbar-toggler {
    display: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: urlurl("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

button{
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;

    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    border-radius: 0;
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.mr-auto{
    margin-right: auto !important;
}

.py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #D19C97;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px 10px;
    color: #1C1C1C;
    outline: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px 10px;
    color: #1C1C1C;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.dropdown{
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.rounded-0 {
    border-radius: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #6F6F6F;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    padding-top: 0.25rem;
    padding-right: 1.5rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

#header-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


.justify-content-center {
    justify-content: center !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.carousel-control-next{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

a {
    color: #D19C97;
    text-decoration: none;
    background-color: transparent;
}

.mb-n2{
    margin-bottom: -0.5rem !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}


.carousel-control-prev-next {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}



.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pt-5{
    padding-top: 3rem !important;
}

.pb-3{
    padding-bottom: 1rem !important;
}

.pb-1{
    padding-bottom: 0.25rem !important;
}


.col-sm-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
}


.col-lg-3 {
    flex: 0 0 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 72px;
    padding-left: 15px;
}

.mb-4{
    margin-bottom: 1.5rem !important;
}

.mr-3{
    margin-right: 1rem !important;
}

h5{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1C1C1C;

    
}

element.style {
    padding: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
>>>>>>> Stashed changes
